body {
    $text: #666666;
    $text-highlighted: #212121;

    margin: 0;
    font-family: Arial, Helvetica, sans-serif;

    h1.section-title {
        color: $text-highlighted;
        font-style: normal;
        font-weight: 500;
        font-size: 24px;
        padding: 25px 25px 25px 25px;
        margin: 0;
        cursor: default;
    }

    h2 {
        color: $text-highlighted;
        font-size: 16px;
    }

    p {
        margin: 0;
        font-weight: 400;
        color: $text;
        line-height: 1.8em;
        cursor: default;

        &.italic {
            font-style: italic;
        }

        .highlighted {
            color: $text-highlighted;
            font-weight: 600;
        }
    }

    @media only screen and (min-width: 600px) {
        h1.section-title {
            padding: 25px 50px 25px 50px;
        }
    }

    @media only screen and (min-width: 768px) {
        h1.section-title {
            padding: 25px 125px 25px 125px;
        }
    }
}