body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;

    h1.section-title {
        margin: 0;
        padding: 25px 25px 25px 25px;
        font-style: normal;
        font-weight: 500;
        font-size: 24px;
        cursor: default;
    }

    @media only screen and (min-width: 600px) {
        h1.section-title {
            padding: 25px 50px 25px 50px;
        }
    }

    @media only screen and (min-width: 768px) {
        h1.section-title {
            padding: 25px 125px 25px 125px;
        }
    }
}