body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;

    h3.section-title {
        margin: 0;
        padding: 25px 25px 25px 25px;
        font-style: normal;
        cursor: default;
    }
}