single-hobby {
  .hobby {
    display: flex;
    flex-direction: column;
    align-items: center;
    lazy-img img {
      height: 64px;
      width: 64px;
    }
    p {
      font-size: 16px;
    }
  }
}
