my-cv {
    $text-highlighted: #212121;

    .my-cv-container {
        margin: 25px 0px 25px 0px;
        padding: 20px;
        display: -webkit-flex;
        display: flex;
        -webkit-flex-direction: row;
        -webkit-align-items: center;
        flex-direction: column;
        align-items: center;
        -webkit-justify-content: center;
        justify-content: center;
        background: #FF6B6B;
        color: $text-highlighted;
        -webkit-transition: background-color 0.5s linear;
        -ms-transition: background-color 0.5s linear;
        transition: background-color 0.5s linear;

        a {
            height: 80px;
            width: 80px;
            margin: auto;
            cursor: pointer;

            img {
                height: 80px;
                width: 80px;
            }
        }

        p {
            padding-top: 10px;
            margin: auto;
            cursor: default;
        }

        &:hover {
            background: #ff4d4d;
        }
    }
}