my-info {
    .my-info-container {
        padding: 25px 25px 25px 25px;
        color: black;
        line-height: 1.8em;
        cursor: default;

        p {
            font-style: italic;
            display: inline;
            opacity: 0.6;
        }
        .role {
            color: #FF6B6B;
            font-style: italic;
            padding-left: 5px;
            padding-right: 5px;
        }
    }
}