my-info {
    display: block;

    .my-info-container {
        padding: 50px 100px 50px 100px;
        color: black;
        font-style: italic;
        line-height: 1.8em;
        cursor: default;
        
        p {
            display: inline;
            opacity: 0.6;
        }
        .role {
            padding-left: 5px;
            padding-right: 5px;
        }
    }
}