web-header {
  header {
    display: flex;
    justify-content: center;
    position: relative;

    img {
      position: relative;
      width: 100%;
      height: auto;
    }
    .quote {
      top: 40%;
      position: absolute;
      padding: 16px;
      background: rgba(255, 255, 255, 0.7);
      border-radius: 5px;

      p {
        color: #212121;
        text-align: center;
        line-height: 2em;
        font-size: 16px;
        font-style: italic;
        font-weight: 600;
        margin: 0;
        cursor: default;
      }
    }

    @media only screen and (min-width: 320px) {
      .quote {
        top: 20%;
        padding: 8px;
        p {
          font-size: 14px;
        }
      }
    }

    @media only screen and (min-width: 460px) {
      .quote {
        top: 25%;
        padding: 10px;
        p {
          font-size: 16px;
        }
      }
    }

    @media only screen and (min-width: 600px) {
      .quote {
        top: 40%;
        padding: 16px;
        p {
          font-size: 20px;
        }
      }
    }

    @media only screen and (min-width: 768px) {
      .quote {
        top: 40%;
        padding: 16px;
        p {
          font-size: 24px;
        }
      }
    }
  }
}
