tech-chip {
    .chip {
        display: inline-block;
        height: 32px;
        font-size: 12px;
        font-weight: 400;
        color: #000000;
        opacity: 0.6;
        line-height: 32px;
        padding: 0 12px;
        border-radius: 16px;
        background-color: #e0e0e0;
        cursor: default;
    }
}