tech-chip {
    .chip {
        display: inline-block;
        height: 32px;
        font-size: 13px;
        font-weight: 500;
        color: rgba(0,0,0,.6);
        line-height: 32px;
        padding: 0 12px;
        border-radius: 16px;
        background-color: #e0e0e0;
    }
}