tech-chip {
    .chip {
        display: inline-block;
        padding: 0 12px;
        border-radius: 16px;
        background-color: #e6e6e6;
        cursor: default;
        p {
            font-size: 16px;
        }
    }
}