my-hobbies {
    .hobbies {
        display: flex;
        justify-content: space-around;
        padding: 25px 25px 25px 25px;

        img {
            height: 64px;
            width: 64px;
        }
    }
}